<p id="notice"><%= notice %></p>


<div class="alert alert-success">
    <table class="table table-striped table-condensed" width="300px">
        <tbody>
            <tr>
                <td align="center"><%= image_tag @user.avatar.url(:medium)%></td>
                <td><p>
                  <strong>Nickname:</strong>
                  <%= @user.nickname %>
                </p>

                <p>
                  <strong>Email:</strong>
                  <%= @user.email %>
                </p></td>
            </tr>
        </tbody>
    </table>

    <p align="center">
      <strong>User's twits:</strong>
      <table class="table table-striped table-condensed">
          <tbody>
          <% @user.twits.each do |twit| %>
            <tr>
              <td width="80%"><%= twit.content %></td>
              <td width="20%"><%= link_to 'Show', twit, class: "btn btn-primary"  %>
              <%= link_to 'Edit', edit_twit_path(twit), class: "btn btn-success"  %>
              <%= link_to 'Destroy', twit, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </p>
</div>


<ul class="pager">
    <li class="previous">
        <%= link_to 'â† Back', users_path, class: "previous" %>
    </li>
    <li class="previous">
        <%= link_to 'Edit', edit_user_path(@user) %>
    </li>
</ul>
