<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @user.avatar.url(:medium) %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>User's twits:</strong>
  <table>
      <tbody>
      <% @user.twits.each do |twit| %>
        <tr>
          <td><%= twit.content %></td>
          <td><%= link_to 'Show', twit %></td>
          <td><%= link_to 'Edit', edit_twit_path(twit) %></td>
          <td><%= link_to 'Destroy', twit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
