<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<p>
  <strong>Lft:</strong>
  <%= @tag.lft %>
</p>

<p>
  <strong>Rgt:</strong>
  <%= @tag.rgt %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @tag.parent_id %>
</p>

<p>
  <strong>Children count:</strong>
  <%= @tag.children_count %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
