<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @twit.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @twit.user_id %>
</p>

<h2>Comments</h2>
<% @twit.comments.each do |comment| %>
  <p>
    <strong><%= comment.user.nickname %>:</strong><%= comment.body %>
  </p>

<% end %>

<h2>Add a comment:</h2>
<%= form_for([@twit, @twit.comments.build]) do |f| %>
  <p>
    <%= f.label :user %><br>
    <%= f.collection_select(:user_id, User.all, :id, :nickname) %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_twit_path(@twit) %> |
<%= link_to 'Back', twits_path %>
