<p id="notice"><%= notice %></p>

<%= image_tag @user.avatar.url(:medium)%>
<p>
  <strong>Nickname:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <%= link_to 'User Twits', [@user, :twits] %>
</p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
