<%= form_for(twit) do |f| %>
  <% if twit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(twit.errors.count, "error") %> prohibited this twit from being saved:</h2>

      <ul>
      <% twit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="alert alert-success">
      <table class="table  borderless" width="350px">
          <tr>
              <td width="45%">  <%= f.label :content, align:"right" %></td>
              <td width="55%"><%= f.text_area :content %></td>
          </tr>
          <tr>
              <td><%= f.label :user_id, align:"right" %></td>
              <td><%= f.collection_select(:user_id, User.all, :id, :nickname) %></td>
          </tr>
          <tr>
              <td></td>
              <td><%= f.submit "Save Twit", class: "btn btn-success" %></td>
          </tr>
      </table>
  </div>
<% end %>
