<p id="notice"><%= notice %></p>

<h1>Twits</h1>

<table  class="table">
  <thead>
    <tr>
      <th></th>
      <th>User</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @twits.each do |twit| %>
      <tr>
        <td><%= image_tag twit.user.avatar.url(:micro) %></td>
        <td><%= link_to twit.user.nickname, twit.user %></td>
        <td><%= twit.content %></td>
        <td><%= link_to 'Show', twit, class: "btn" %></td>
        <td><%= link_to 'Edit', edit_twit_path(twit) , class: "btn" %></td>
        <td><%= link_to 'Destroy', twit, {method: :delete, data: { confirm: 'Are you sure?' }, class: "btn"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Twit', new_twit_path %>
