<div id="notice" class="alert alert-info">
    <p><%= notice %></p>
</div>

<div class="alert alert-success">
    <table class="table  borderless" width="350px">
        <tr>
            <td width="25%"></td>
            <td width="15%"><%= image_tag @twit.user.avatar.url(:micro), {class: "img-circle", align:"right"} %></td>
            <td width="35%">
                <h2><%= link_to @twit.user.nickname, @twit.user %></h2>
            </td>
            <td width="25%"></td>
        </tr>
        <tr>
            <td>
              <%= image_tag "http://allpng.com/wp-content/uploads/2016/06/tweety-png-file.png",  {width: "200px", class: "mirrorY"} %>
            </td>
            <td>
                <p align="right"><strong>Content:</strong></p>
            </td>
            <td>
                <textarea disabled class = "form-control" rows = "3" align="left">
                    <%= @twit.content %>
                </textarea>
            </td>
            <td><%= image_tag "http://i.piccy.info/i9/c2cbf17cbf53d1062818c17cc880bd35/1476032129/168943/1077981/cartoon_mailbox_illustration_children_happy_colorful_christmas_31509399_1_.png", {width: "200px"} %></td>
        </tr>
    </table>
</div>

<% if @twit.tags.count > 0 %>
  <ul>
    <% @twit.tags.each do |tag| %>
      <li><%= link_to tag.name, tag_url(tag) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no tags on the system.</p>
<% end %>

<p align="center">
  <strong><%= link_to 'Twit Comments:', [@twit, :comments] %></strong>
  <table class="table table-striped table-condensed">
      <tbody>
      <% @twit.comments.last(10).each do |comment| %>
        <tr>
          <td width="20%"><%= comment.user.nickname %></td>
          <td width="60%"><%= comment.body %></td>
          <td width="20%"><%= link_to 'Show', comment, class: "btn btn-primary"  %>
          <%= link_to 'Edit', edit_comment_path(comment), class: "btn btn-success"  %>
          <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<div class="alert alert-success">
  <h2>Add a comment:</h2>
  <%= semantic_form_for([@twit, @twit.comments.build]) do |f| %>
    <p>
      <%= f.collection_select(:user_id, User.all, :id, :nickname) %>
    </p>
    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>
<ul class="pager">
    <li class="previous">
        <%= link_to 'â† Back', twits_path, class: "previous" %>
    </li>
    <li class="previous">
        <%= link_to 'Edit', edit_twit_path(@twit) %>
    </li>
</ul>
